@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

header, .content {
	max-width: 1400px;
	margin: auto;
	padding: 2%;
}

.bg-blue {
	background-color: #2D9CDB;
	color: white;
}
.bg-green { background-color: #27AE60; }
.bg-red { background-color: #EB5757; }
.bg-grey { 
	background-color: #E0E0E0;
	color: #828282;
}
.color-blue { color: #2D9CDB; }
.bg-grey6 { background-color: #F2F2F2;}
.color-red { color: #EB5757; }

.hero {
	border-radius: 18px;
	display: block;
	width: 100%;
}

.card span {
	width: 67px;
	height: 67px;
	border-radius: 16px;
	color: white;
	font-size: 33px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-border {
	box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
	border-radius: 24px;
}

.content-card {
	display: flex;
	justify-content: space-between;
}

.card {
	padding: 3% 2% 3% 2%;
	font-family: 'Poppins';
	font-style: normal;
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	max-width: 341px;
}

.card h5 {
	font-weight: 700;
	font-size: 24px;
	line-height: 36px;
	color: #333333;
}

.card p {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #4F4F4F;
	max-width: 273px;
}

.card button {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	width: 116px;
	height: 42px;
	border-radius: 12px;
	border: none;
	cursor: pointer;
}

#services, #clients, .comment {
	width: 80%;
	margin: auto;
	padding: 5% 0 5% 0;
}

h4 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 54px;
	color: #333333;
}

#services h4 { max-width: 346px; }

.content h2 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
}

.content h3 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 72px;
	color: #333333;
}

.content .around-hero:nth-of-type(1) h3 { max-width: 543px; }
.content .around-hero:nth-of-type(2) h3 { max-width: 366px; }

.content p {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: #4F4F4F;
}

.content p:nth-of-type(1) { max-width: 366px; }

.around-hero {
	max-width: 65%;
	margin: auto;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	padding: 2% 0 2% 0;
}

#contact p {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #828282;
}

#contact input::placeholder, .contact input {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
}

#contact input::placeholder { color: #BDBDBD; }
#contact input { color: #4F4F4F; }

.contact-bar {
	border-radius: 12px;
	width: 350px;
	height: 57px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact-bar input {
	width: 100%;
	border: none;
	padding-left: 5%;
	outline: none;
}

.contact-btn {
	width: 94px;
	height: 49px;
	border-radius: 12px;
	border: none;
	cursor: pointer;
	margin-right: 1%;
}

#our-works h4 { max-width: 448px; }

#our-works {
	max-width: 80%;
	margin: auto;
}

footer {
	display: flex;
	justify-content: space-around;
	background-color: #100E1D;
	width: 100%;
	padding: 2%;
	flex-wrap: wrap;
	color: #F2F2F2;
	margin-top: 5%;
}

footer a {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #BDBDBD;
	text-align: center;
}

footer a {
	text-decoration: underline;
}

footer nav ul li a{
	color: white;
	text-decoration: none;
}

footer p:last-child {
	width: 100%;
	text-align: center;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #BDBDBD;
	text-align: center;
}

footer nav {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 200%;
}

footer #contact {
	margin-bottom: 15%;
}

.reseau img { cursor: pointer; }

.reseau {
	display: flex;
	gap: 10px;
}

.social h6 {
	font-family: 'Heebo';
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 53px;
}

header h1 {
	font-family: 'Heebo';
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 53px;
	color: #333333;
}

header nav, header a{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	color: #333333;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: space-between;
}

header nav ul {
	display: flex;
	gap: 50px;
}

.card-work h5 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;
	color: #828282;
}

.card-work p {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	color: #333333;
}

.card-work img {
	display: block;
	max-width: 545px;
	height: auto;
	border-radius: 12px;
	margin-bottom: 10px;
}

.content-work {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.content-work .card-work:nth-of-type(2n - 1) { margin-top: 180px;}

#our-works { padding: 5% 0 5% 0; }

#our-works a {
	display: flex;
	text-decoration: none;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	align-items: center;
	justify-content: end;
}

#clients {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.pictures img {
	border-radius: 24px;
	display: block;
}

.info {
	max-width: 400px;;
}

.pictures {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}

.picture1 { grid-area: 3 / 1 / 6 / 4; }
.picture2 { grid-area: 2 / 4 / 4 / 7; }
.picture3 { grid-area: 4 / 4 / 8 / 7; }

.comment h3 {
	max-width: 937px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 54px;
	color: #333333;
}

.user-comment {
	margin-top: 5%;
	display: flex;
	gap: 35px;
}

.user-comment img {
	border-radius: 20px;
	width: 80px;
	height: 80px;
	display: block;
}

.user-info h4 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
}

.user-info p {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
}

.user-info {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
